<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exem.dao.DustDao">
	
	<!-- db에 같은 측정소 있는지 비교 -->
	<select id="checkStationCode" parameterType="int" resultType="int">
		SELECT COUNT(station_code) FROM measurement_station;
	</select>

	<!-- 측정소 코드, 이름 insert -->
	<insert id="insertMeasurementStation" parameterType="MeasurementStation" >
		INSERT INTO measurement_station (station_code, station_name) 
		VALUES (#{station_code}, #{station_name}); 
	</insert>
	
	<!-- 3월 미세먼지 데이터 insert -->
	<insert id="insertDustMeasurement" parameterType="DustMeasurement">
		INSERT INTO dust_measurement (station_code, PM10, PM2_5, measurement_time)
		VALUES (#{station_code}, #{PM10}, #{PM2_5}, #{measurement_time});
	</insert>
	
	<!-- 경보 발령 정보 insert -->
	<insert id="insertAlertRecord" parameterType="AlertRecord">
		INSERT INTO alert_record (dust_measurement_no, alert_criteria_no)
		VALUES (#{dust_measurement_no}, #{alert_criteria_no});
	</insert>
	
	<!-- 측정한 미세먼지 데이터 전부  -->
	<select id="readAllDustMeasurement" resultType="DustMeasurement">
		SELECT * FROM dust_measurement;
	</select>
	
	<!-- 경보 발령 기준 및 등급 -->
	<select id="readAllAlertCriteria" resultType="AlertCriteria">
		SELECT * FROM alert_criteria;
	</select>
	
	<!-- 측정소 점검 정보 insert -->
	<insert id="insertInspectionRecord" parameterType="InspectionRecord">
		INSERT INTO inspection_record (dust_measurement_no)
		VALUES (#{dust_measurement_no})
	</insert>	
	
	
	<!-- 경보 알림 데이터 DB에 있는지 없는지 check -->
	<select id="countAlertRecord" resultType="int">
		select count(*) from alert_record;
	</select>
	
	<!-- 경보 발령 정보 확인 -->	
	<select id="selectAlertRecord" resultType="SelectAlertRecord" parameterType="java.util.HashMap">
	    SELECT 
	        ar.alert_record_no, 
	        ms.station_name as measurement_station_name, 
	        dm.station_code as measurement_area, 
	        ac.alert_level as alert_level, 
	        dm.measurement_time
	    FROM 
	        alert_record ar
	        INNER JOIN dust_measurement dm ON ar.dust_measurement_no = dm.dust_measurement_no
	        INNER JOIN alert_criteria ac ON ar.alert_criteria_no = ac.alert_criteria_no
	        INNER JOIN measurement_station ms ON dm.station_code = ms.station_code
	    <where>
	        <if test="station_name != '전체'">
	            AND ms.station_name = #{station_name}
	        </if>
	        <if test="grade != 0">
	            AND ac.grade = #{grade}
	        </if>
	    </where>
	    ORDER BY measurement_time, alert_level, measurement_station_name;
	</select>
	
	<select id="inspectionSelectAlertRecord" resultType="InspectionRecord" parameterType="java.util.HashMap">
	    SELECT 
	        ir.inspection_record_no, 
	        ms.station_name as measurement_station_name, 
	        dm.PM10,
	        dm.PM2_5,
	        dm.measurement_time
	    FROM 
	        inspection_record ir
	        INNER JOIN dust_measurement dm ON ir.dust_measurement_no = dm.dust_measurement_no
	        INNER JOIN measurement_station ms ON dm.station_code = ms.station_code
	    <where>
	        <if test="station_name != '전체'">
	            AND ms.station_name = #{station_name}
	        </if>
	    </where>
	    ORDER BY measurement_time, measurement_station_name;
	</select>
</mapper>


